#main-content-container{
  width: 100%;
  height: 100%;
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-content: center;
}

.full-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.main-content{
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

/*************
Home Page
*************/

.home-contain {
  height: 100%;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.14), 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
}

.flights-dep {
  display: none;
}

.flights-return {
  display: none;
}

/*********
Mobile Devices
*********/

[class*='col-'] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}


/*********
Navbar Component
*********/

.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  height: 3em;
  background-color: #333333;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#navbar-img {
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.navbar-left {
  display: flex;
  justify-content: center;
  align-content: center;
}

#nav-list{
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.nav-list-item {
  display: flex;
  justify-content: center;
  align-content: center;
}

.nav-items{
  text-decoration: none !important;
  color: #fefefe !important;
  padding-left: 12px;
  padding-right: 12px;
  letter-spacing: .05px;
}

.img-placeholder {
  text-decoration: none !important;
  color: #fefefe;
}

.navbar-right {
  display: flex;
  justify-content: center;
  align-content: center;
}

#nav-icon {
  display: none;
}

/* @media screen and (max-width: 600px) {
  .navbar-right {}
} */

/*********
Travel Form Component
*********/

.main-form {
  height: 600px;
  display: flex;
  align-content: center;
  justify-content: center;
  background: url('../src/assets/plane.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@-moz-keyframes swim {
  from { background-position: 200% 0, 0 0;}
  to { background-position: -100% 0, 0 0;}
}

@-webkit-keyframes swim {
  from { background-position: 200% 0, 0 0;}
  to { background-position: -100% 0, 0 0;}
}

@keyframes swim {
  from { background-position: 200% 0, 0 0;}
  to { background-position: -100% 0, 0 0;}
}

.travel-form {
  margin-top: 90px;
  height: fit-content;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(225,225,225,0.8);
}

.to-and-fro {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.btwn-destinations {
  margin: 20px;
}

.trip-timing {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* #type-of-trip {
  display: flex;
  flex-direction: column;
} */

#passenger-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15px;
  margin-bottom: 15px;
  
}

.pass-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search {
  width: 100%;
  border-radius: 5px;
}

.form-pass {
  width: 40px;
}

/***********
Social Media Links
***********/

.social-links {
  /* position: absolute;
  bottom: 0;
  right: 0; */
  /* width: fit-content; */
  height: 30px;
  /* background-color: #c3c3c3; */
  /* border-color: #c3c3c3; */
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.social {
  height: 30px;
  width: 30px;
}

/**********
Splash
**********/

/* #splash-img {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  position: relative;
  animation-name: flyaround;
  animation-duration: 4s;
  animation-direction: normal;
}

@keyframes flyaround {
  0% {left: 0px; top: 0px;}
  12.5% {left: -300px; top: 0px;}
  25% {left: -300px; top: 300px;}
  37.5% {left: 0px; top: 300x;}
  50% {left: 300px; top: 300px;}
  62.5% {left: 300px; top: 0px;}
  75% {left: -50px; top: 0px;}
  87.5% {left: 50px; top: 0px;}
  100% {left: 0px; top: 0px;}
}

@-webkit-keyframes flyaround {
  0% {left: 0px; top: 0px;}
  12.5% {left: -300px; top: 0px;}
  25% {left: -300px; top: 300px;}
  37.5% {left: 0px; top: 300x;}
  50% {left: 300px; top: 300px;}
  62.5% {left: 300px; top: 0px;}
  75% {left: -75px; top: 0px;}
  87.5% {left: 75px; top: 0px;}
  100% {left: 0px; top: 0px;}
} */

#splash-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.carousel-image{
  height: 600px;
}

.carousel-text{
  display: flex;
  flex-direction: column;
}

#carousel-bunting {
  position: absolute;
  top: 8px;
  right: 16px;
  background-color: rgba(45,45,45,0.8);
  border-radius: 30px;
  padding: 5px;
}

.airline-name {
  color: #fefefe;
  font-size: 64px;
  margin-bottom: 0px;
}

.airline-slogan {
  color: #fefefe;
  font-size: 32px;
  margin-top: 0px;
}

#getaway-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:  rgba(225,225,225,0.8);
  border-radius: 30px;
  padding: 5px;
}

.getaway-head{
  color: #111111;
  font-size: 64px;
}

.getaway-text{
  color: #111111;
  font-size: 32px;
}

.media-contact {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#splash-soc{
  align-self: center;
}

#business-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.business-head{
  color: #fefefe;
  font-size: 64px;
}

.business-text{
  color: #fefefe;
  font-size: 32px;
}

#career-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(45,45,45,0.8);
  border-radius: 30px;
  padding: 5px;
}

.career-head{
  color: #fefefe;
  font-size: 64px;
}

.career-text{
  color: #fefefe;
  font-size: 32px;
}

/***********
Employment Form
***********/

#employmentpage {
  background-image: url('../src/assets/airportloungestock.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#employment-form {
  margin-top: 90px;
  height: fit-content;
  width: fit-content;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(225,225,225,0.8);
}

#employment-form-names {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* #lastname {
  width: 100%;
} */

#employment-form-contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}


/**********
flight cards
**********/

.flight-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #535353;
}

#flight-table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #535353;
}

.depart-info {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 5px;
}

.arrival-info {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 5px;
}

.flight-info {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 5px;
}

.finance-info {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 5px;
}