.legal-contact {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #00dfa5;
    color: #fefefe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family: inherit;
  }
  
  .legal-terms {
    align-self: center;
  }

  .legal-us {
    align-self: center;
  }
  
  .legal-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-self: center;
  }
  
  .legal-items {
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    color: #fefefe;
  }

  .legal-items:hover {
    color: #ff008c;
    font-weight: bolder;
  }